.top {
  top: 12px;
}
.center {
  top: calc(50% - 2px);
} 
.bottom {
  bottom: 11px;
}
.scale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28px;
  height: 24px;
  max-height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: ease transform .3s;
  position: absolute;
}
.hamburger-white-bar {
  width: 24px;
  max-height: 4px;
  height: 4px;
  min-height: 4px;
  border-radius: 4px;
  background: blue;
  position: absolute;
  transition: ease transform .3s;
}
.hamburger-white-bar.top {
  top: 0;
}
.hamburger-white-bar.center {
  margin: auto;
}
  .hamburger-white-bar.bottom {
  bottom: 0;
}
.hamburger-white-bar.reset {
  display: none;
}
  .scale-container.move {
  transition: ease margin .5s;
  animation: ease Hamburger .5s forwards;
}
.scale-container.reset {
  display: none;
}
.scale-container.reverse {
  transition: none;
  animation: ease ReverseHamburger .3s forwards;
}
.scale-container.reset {
  animation: ease Hamburger .3s forwards;
}
.hamburger-white-bar.reverse {
  animation: ease Absolute 0s 1;
}
@keyframes Hamburger {
  0% {
    margin-top: 0;
    margin-bottom: 0;
    height: 28px;
  }
  50% {
    margin-top: 2.5px;
    height: 3.5px;
    min-height: 3.5px;
    max-height: 3.5px;
    margin-bottom: 2px;
  }
  100% {
    margin-top: 0;
    margin-bottom: 0;
    height: 28px;
  }
}
@keyframes ReverseHamburger {
  0% {
    height: 4px;
    max-height: 4px;
  }
  100% {
    height: 28px;
  }
}